@use 'config' as *;

.#{$prefix}.ProseMirror {
  blockquote {
    padding-left: 0.6rem !important;
    border-left: 0.3rem solid var(--#{$prefix}-color-border);
    color: var(--#{$prefix}-color-text-secondary) !important;
    margin: var(--#{$prefix}-margin) 0;
  }
}
