@use "config" as *;

.#{$prefix}.ProseMirror {
  p.#{$prefix}-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: var(--#{$prefix}-text-color-2);
    pointer-events: none;
    width: 100%;
    height: 0;
    text-align: inherit;
  }

  p.#{$prefix}-node-empty::before {
    content: attr(data-placeholder);
    float: left;
    color: var(--#{$prefix}-text-color-2);
    pointer-events: none;
    width: 100%;
    height: 0;
    text-align: inherit;
  }

  table .#{$prefix}-node-empty::before,
  table .#{$prefix}-empty:first-child::before {
    content: none;
  }
}
