@use "config" as *;

.#{$prefix}.ProseMirror {
  .#{$prefix}-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: var(--#{$prefix}-text-color-2);
    pointer-events: none;
    width: 100%;
    height: 0;
    text-align: inherit;
  }

  .#{$prefix}-node-empty::before {
    content: attr(data-placeholder);
    float: left;
    color: var(--#{$prefix}-text-color-2);
    pointer-events: none;
    width: 100%;
    height: 0;
    text-align: inherit;
  }

  pre.#{$prefix}-node-empty::before {
    color: var(--#{$prefix}-text-color-3);
    font-weight: 400;
  }
}
