@use "../config" as *;

.#{$prefix}-toolbar-menu {
  width: auto;
  height: auto;
  padding: 0.2rem;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 0.125rem;
  box-sizing: border-box;

  &__separator {
    width: 1px;
    height: 24px;
    margin: 0 0.05rem;
    background-color: var(--#{$prefix}-color-border);
  }
}
